<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FundooHR.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A5793C21DF81B2900FF476C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A5793D91DF81B2A00FF476C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A5793E41DF81B2A00FF476C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
